<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Detalle: Amazonia2</title>
</head>

<body>

	<main>
		<pre th:text="${producto}">Visualización de producto</pre>

		<ul>
			<li th:text="${producto.codigoBarras}">1234567890123</li>
			<li th:text="${producto.nombre}">Portátil</li>
			<li th:text="${producto.precio}">1234,12€</li>
		</ul>

		<a href="index.html" th:href="@{/}">Volver</a>
	</main>
</body>

</html>