<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Listado de productos: Amazonia2</title>
</head>

<body>
	<main>
		<!--/* <pre th:text="${productos}">Visualización de productos</pre> */-->

		<ul th:each="p : ${productos}">
			<li>
				<span th:text="${p.nombre}">
					Portátil
				</span>
				<a href="detalle.html" th:href="@{/detalle(id=${p.id})}">Detalle</a>
			</li>
		</ul>
	</main>
</body>

</html>