<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Listado de productos: Amazonia2</title>
</head>

<body>
	<main class="container-fluid">
		<!--/* <pre th:text="${productos}">Visualización de productos</pre> */-->

		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4">
			<div th:each="p: ${productos}" class="col">
				<div class="card h-100">
					<img th:src="|https://picsum.photos/400/300?${p.id}|" src="https://picsum.photos/400/300"
						class="card-img-top" alt="...">
					<div class="card-body">
						<h5 th:text="${p.nombre}" class="card-title">Producto</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<span class="fw-bold">Fecha de caducidad:</span><br />
								<span th:text="${#temporals.format(p.fechaCaducidad)}">12 de Diciembre de 2023</span>
							</li>
							<li class="list-group-item">
								<span class="fw-bold">Precio:</span><br />
								<span th:text="${#numbers.formatCurrency(p.precio)}">1234,12€</span>
							</li>
							<li class="list-group-item">
								<span class="fw-bold">Unidades:</span><br />
								<span th:text="${p.unidades}">5</span>
							</li>
						</ul>
					</div>
					<div class="card-footer">
						<small class="text-body-secondary">
							EAN:
							<span th:text="${p.codigoBarras}">123456789012</span>
						</small>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>