<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Listado de productos: Amazonia2</title>
</head>

<body>
	<main class="container-fluid">
		<!--/* <pre th:text="${productos}">Visualización de productos</pre> */-->

		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4">
			<div th:each="p: ${productos}" class="col">
				<div class="card h-100">
					<img th:src="|https://picsum.photos/400/300?${p.id}|" src="https://picsum.photos/400/300"
						class="card-img-top" alt="...">
					<div class="card-body">
						<h5 th:text="${p.nombre}" class="card-title">Producto</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item d-flex justify-content-between">
								<span class="fw-bold">Precio:</span>
								<span th:text="${#numbers.formatCurrency(p.precio)}">1234,12€</span>
							</li>
							<li class="list-group-item d-flex justify-content-between">
								<span class="fw-bold">Unidades:</span>
								<span th:text="|${p.unidades} u|">5</span>
							</li>
						</ul>
						
					</div>
					<div class="card-footer">
						<div class="text-center">
							<a class="btn btn-primary fs-5" th:href="@{/carrito(id=${p.id})}" href="carrito.html"><i class="bi bi-bag-plus-fill"></i></a>
							<a class="btn btn-secondary fs-5" th:href="@{/detalle/{id}(id=${p.id})}" href="detalle.html"><i class="bi bi-search"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>